
body {
}

#js3tField {
	width: 450px;
	height: 450px;
	border: 1px solid #000;
	margin: auto;
}

.js3tBar {
	width: 442px;
	margin: auto;
	padding: 5px;
	background: #000;
	color: #fff;
	text-align: center;
}

.js3tBar .left{
	float: left;	
}

.js3tBar .right{
	float: right;
}

#js3tStat {
	font-weight: bold;	
}

#js3tField .js3tCell {
	float: left;
	width: 148px;
	height: 148px;
	border: 1px solid #000;
	background: none;
}

#js3tField .js3tCell:hover {
	background: #eee;	
}

#js3tField .js3tCell.js3tP0 {
	background: url(../img/p0.png) no-repeat 50% 50%;
}

#js3tField .js3tCell.js3tP1 {
	background: url(../img/p1.png) no-repeat 50% 50%;
}

#js3tField .js3tCell.js3tP0.hilight,
#js3tField .js3tCell.js3tP1.hilight {
	background-color: #ff0;
}